@model IEnumerable<Recipes>

<h2>Recipes</h2>

<div style="display: block">
    <a href="/Recipes/InsertRecipe/">Create a New Recipe</a>
</div>

<table class="table border table-borderless border-warning table-warning border-2 table-striped table-hover">


    @foreach (var recipes in @Model)
    {
            <tr>

                <th colspan="2" class="text-center fw-bolder fs-3">

                    @recipes.Name
                </th>

            </tr>


            
        <tr>
            <th>ID</th>
            <td><a href=/Recipes/ViewRecipe/@recipes.RecipeID>@recipes.RecipeID</a></td>
        </tr>

       

        <tr>
            <th>Cuisine</th>
            <td>@recipes.Cuisine</td>
        </tr>

        <tr>
            <th>Description</th>
            <td>@recipes.Description</td>
        </tr>

        <tr>
            <th>Total Cooking Time</th>
            <td>@recipes.TotalCookingTime</td>
        </tr>

        <tr>
            <th>Servings</th>
            <td>@recipes.Servings</td>
        </tr>

        <tr>
            <th>Total Cooking Time</th>
            <td>@recipes.TotalCookingTime</td>
        </tr>

        <tr>
            <th>Ingredients With Measurements</th>
            <td>@recipes.IngredientsWithMeasurements</td>
        </tr>

        <tr>
            <th>Cooking Instructions</th>
            <td>@recipes.CookingInstructions</td>
        </tr>

        <tr>
            <th>Notes And FAQs</th>
            <td>@recipes.NotesAndFAQs</td>
        </tr>

        <tr>
            <th>Nutrition Facts</th>
            <td>@recipes.NutritionFacts</td>
        </tr>

        <tr>
            <th>Category ID</th>
            <td>@recipes.CategoryID</td>

        </tr>       

    }

</table>


