@model IEnumerable<Recipes>

<h2>Recipes</h2>

<div style="display: block">
    <a href="/Recipes/InsertRecipe/">Create a New Recipe</a>
</div>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Cuisine</th>
        <th>Description</th>
        <th>Total Cooking Time</th>
        <th>Servings</th>
        <th>Ingredients With Measurements</th>
        <th>Cooking Instructions</th>
        <th>Notes And FAQs</th>
        <th>Nutrition Facts</th>
        <th>Category ID</th>
    </tr>

    @foreach (var recipes in @Model)
    {
        <tr>
            <td><a href=/Recipes/ViewRecipe/@recipes.RecipeID>@recipes.RecipeID</a></td>
            <td>@recipes.Name</td>
            <td>@recipes.Cuisine</td>
            <td>@recipes.Description</td>
            <td>@recipes.TotalCookingTime</td>
            <td>@recipes.Servings</td>
            <td>@recipes.IngredientsWithMeasurements</td>
            <td>@recipes.CookingInstructions</td>
            <td>@recipes.NotesAndFAQs</td>
            <td>@recipes.NutritionFacts</td>
            <td>@recipes.CategoryID</td>
        </tr>
    }

</table>


